.paintingCard {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  text-align: center;
}

.paintingCard img {
  margin: 1vw;
  padding: 1vw;
  border: 2px solid black;
  max-height: 200px;
  max-width: 200px;
  background-color: white;
}