.mainCardContainer {
  margin-bottom: 50px;
  padding: 0; 
}

.gameMessage {
  width: 100%;
}

.gameMessage p {
  text-transform: uppercase;
  background-color: black;
  color: white;
  padding: 20px 0;
  margin-bottom: 0px;
}

.gameScores {
  width: 100%;
  margin-bottom: 5vh;
}
.gameScores p {
  font-size:2em;
  text-transform: uppercase;
  background-color:#487eb0;
  color: white;
  padding: 5vh;
  margin-bottom: 5vh;
}